.navbarMain {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 8px 60px;
    color: #707070;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f3f3f3;
}

.menu-icons {
    display: flex;
    justify-content: space-between;
}
.menu-icons > div{
    margin: 1rem;
}

.navbarLogo {
    width: 130px;
    padding: 10px;
}

.nav-menuData {
    display: flex;
    margin: 1rem;
}


.nav-menuData li a{
    color: #838383;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}
.nav-menuData li a:hover{
    color: #151515;
    transition: all .2s ease-in-out;
}


/* Header */
.headerwrapper {
    background: #151515;
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 10px;
}

.navbarMain.headerActive {
    position: relative;
    top: 0rem;
}


@keyframes fadeout {
    0% {
        opacity: 0;
        transform: translateY(60px);
      }
    50% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.downloadApp span {
    font-size: 16px;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-60px);
      }
    50% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* Submenu */

.submenuWrapper {
    position: absolute;
    background: #ffffff;
    /* padding: 10px 10px 10px 10px; */
    /* display: flex; */
    /* margin: 6px 1rem; */
    padding: 2rem;
    border-radius: 5px;
    top: 4.7rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transition: all .4s ease-in-out;
    width: 99%;
    left: 1rem;
    z-index: 99;

}
.ChildWrapper > div a{
    font-size: 14px;
    line-height: 2.5rem;
    text-transform: capitalize;
}

.submenuChildImage {
    width: 100%;
}


.submenu {
   display: flex;
}

.sublingsWrapper {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
}   

.ChildWrapper {
    display: flex;
    flex-direction: column;
}
  
.submenusiblings {
    /* font-size: 10px; */
    padding: 15px;
    font-weight: 400;
}

.childrenlink {
    color: #2c2c2c !important;
}
.childrenlink:hover {
    color: #007230 !important;
    transition: all .3s ease;
}

.CartOverlay {
    position: relative;
}

.CartOverlay.open {
    position: absolute;
    width: 100%;
    z-index: 999;
    background: #2d2d2db5;
    height: 100%;
    left: 0rem;
    top: 0;
    
}



/* Cart Popup */
.CartPopupWrapper {
    position: fixed;
    background: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transition: all .4s ease-in-out;
    width: 30%;
    right: 0rem;
    z-index: 999;
    height: 100vh;
}


.cartIconBox {
    padding: 0px;
    background: #424242;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
    
}

.cartIconBox:hover {
    border: 1px solid #767676;
    background: #8f8f8f;
}

.NoProducts {
    margin: 0 auto;
    text-align: center;
    
}
.NoProducts img{
    width: 30%;
}


.CartInnerDiv {
    padding: 2rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.noDataFound {
    padding: 2rem 10px;
    text-align: center;
    margin: 1rem;
}
.noDataFound span{
   font-size: 1rem;
}


.LoginButton {
    padding: 10px 30px;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
    background-color: rgb(32, 32, 32);
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    border: 1.5px solid #202020;
}

.LoginButton:hover{
    border: 1.5px solid #0a0a0a;
    background: transparent;
    color:#202020;
    transition: all .3s ease-in-out;
}


.sliderWrapper {
    outline: none;
    cursor: pointer;
}
.sliderWrapper img {
    height: 280px;
    width: auto;
}

.navMenuSlider > button {
    display: none !important;
}